# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza193M085bFdOOS1TUWxQTmlaa0hQLVciLCJhcGlfa2V5IjoiMDFKWlpKQ1owNEJETkUxNFk3TU1QRkVWUDQiLCJ0ZW5hbnRfaWQiOiI2MDNmNTA2YzViYmZkNGU2ZjQwYTkzYWE1N2NhNDQ4MWZkYjU4YjVmN2Q4YmM1NDIwMzU3Y2M4ZTI5OWQ0MzUzIiwiaW50ZXJuYWxfc2VjcmV0IjoiZDFjMzBkNzktM2QzMC00OTA3LWIwZWItOGQyZjAxNjUwZDJjIn0.10Vcs0nfpCodwVr07lalR7BxP2Q48k23WyfMuklYfEo"

NODE_ENV=development
PORT=6000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mydb
DATABASE_URL=postgresql://postgres:postgres@db:5432/mydb?schema=public

# Redis
REDIS_URL=redis
REDIS_PORT=6379

JWT_ACCESS_SECRET=your_access_secret_key
JWT_REFRESH_SECRET=your_refresh_secret_key